#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: black;
  font-weight: 400;
  color: $white-color;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 10rem;
  bottom: 0;
  right: 0;
  z-index: -1;

  // Set position sticky so the jumbotron stays fixed while you scroll.
  // position: sticky;

  // If you want to set a background image on the hero section, uncomment these with your custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  h1 {
    font-size: 7.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

.alpha {
  margin: 0.25rem;
}

.alpha.animated {
  color: $light-purple;
  animation: letter_bounce 0.7s ease-in-out;
}

@keyframes letter_bounce {
  0% {
    transform: scale(1.2,0.5);
  }
  16% {
    transform: scale(1.2,0.5);
  }
  25% {
    transform: scale(1.2,0.5);
  }
  32% {
    transform: scale(0.8,1.1);
  }
  48% {
    transform: scale(0.95, 1);
  }
  64% {
    transform: scale(0.8,1.2);
  }
  80% {
    transform: scale(1.15,1);
  }
  87% {
    transform: scale(1.15, 1);
  }
  90% {
    transform: scale(0.8,1);
  }
  95% {
    transform: scale(1.05,1);
  }
  100% {
    transform: scale(1,1);
  }
}

.introduction {
  max-width: 100rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.introduction * {
  display: flex;
  flex-direction: row;
}

.highlight {
  color: $highlight-blue;
  text-shadow: 4px 4px $shadow-purple;
}

// .introduction::after {
//   content:"F";
//   display: block;
//   position: absolute;
//   top: -30rem;
//   right: -10rem;
//   font-size: 80em;
//   transform: rotate(-50deg);
//   overflow: hidden;
// }

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: $primary-color;
  top:0;
  left:0;
  position: absolute;
}